@font-face {
    font-family: "NimbusSanL";
    src: url("../fonts/NimbusSanL-Reg.otf");
}
@font-face {
    font-family: "Boiling";
    src: url("../fonts/Boiling-BlackDemo.ttf");
}
.navbar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 25px 50px;
    position: absolute;
    width: calc(100vw - 100px);
}
.navbar .left {
    display: grid;
    grid-template-columns: 25% 25% 25%;
    align-items: center;
}
.navbar .right {
    display: flex;
    width: 75%;
    margin-left: auto;
    align-items: center;
}
.toggle-icon {
    display: inline-block;
    cursor: pointer;
    margin-left: auto;
}
.bar1,
.bar2 {
    width: 30px;
    height: 2px;
    background-color: #000;
    margin: 6px 0;
    transition: 0.4s;
}
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(3px, -2px);
    transform: rotate(-45deg) translate(3px, -2px);
}
.change .bar2 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}
.menu-btn {
    font-family: "NimbusSanL";
    text-decoration: none;
    font-size: 15px;
    color: #000;
    font-weight: 700;
    transition: .4s;
}
.menu-btn.active {
    color: #a7a7a7;
    font-weight: 400;
}
.menu-btn:hover{
    color: #a7a7a7;
    font-weight: 400;
}
.menu-btn:nth-child(2) {
    text-align: center;
}
.menu-btn:nth-child(3) {
    text-align: end;
}
.main {
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    padding: 25px;
    height: calc(100vh - 50px);
    width: calc(100vw - 50px);
}
.main .mid_slider {
    position: relative;
}
.main .mid_slider img {
    width: 100%;
    height: calc(100vh - 50px);
    object-fit: cover;
}
.slick-prev,
.slick-next {
    font-family: "NimbusSanL";
    font-size: 16px;
    line-height: 0;
    position: absolute;
    top: 90%;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: #fff;
    border: none;
    outline: none;
    z-index: 2;
    transition: 0.4s;
}
.slick-prev:before,
.slick-next:before {
    content: "";
    display: none;
}
.slick-prev {
    left: 25%;
}
.slick-next {
    right: 25%;
}
.slick-prev:hover,
.slick-next:hover {
    color: #a7a7a7;
}
.slick-next:hover {
    right: 23%;
}
.slick-prev:hover {
    left: 23%;
}
.destroy {
    display: inline-block;
    position: absolute;
    top: 85%;
    left: calc(50% - 25px);
}
.destroy button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
}
.destroy button:hover {
    -webkit-animation: rotate-scale-up 0.65s linear both;
    animation: rotate-scale-up 0.65s linear both;
}
.destroy img {
    width: 50px !important;
    height: 50px !important;
    filter: invert(1);
}
.main .left_text{
    display: flex;
    flex-direction: column;
    margin-top: 175px;
    padding: 0px 20%;
}
.title_1{
    font-family: 'Boiling';
    letter-spacing: 1px;
    font-size: 44px;
}
.title_2{
    margin-top: 5px;
    font-family: 'Lato', Times, serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: .3px;
    line-height: 25px;
    color: #000;
}
.main .left_text hr{
    margin: 75px 0px 50px 0px;
    width: 75px;
    border-color: black;
}
.main .left_text a{
    margin-top: 75px;
    font-family: 'Lato', Times, serif;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: -0.5px;
    color: #3f3f3f;
    text-decoration: none;
    transition: .4s;
}
.main .left_text a:hover{
    color: #000;
}
.parag_1{
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    letter-spacing: .5px;
    line-height: 21px;
    color: #5A5C6A;
    margin-top: 25px;
}
.parag_2{
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    letter-spacing: .5px;
    color: #a7a7a7;
}
.main .right_text{
    position: relative;
    padding: 0px 25%;
    margin-top: 100px;
}
.main .right_text span{
    display: block;
    margin-top: 75px;
}
.main .right_text .bot_img{
    position: absolute;
    bottom: 0;
}
.main .right_text .bot_img img{
    width: 100%;
}
@-webkit-keyframes rotate-scale-up {
    0% {
        -webkit-transform: scale(1) rotateZ(0);
        transform: scale(1) rotateZ(0);
    }
    50% {
        -webkit-transform: scale(1.4) rotateZ(180deg);
        transform: scale(1.4) rotateZ(180deg);
    }
    100% {
        -webkit-transform: scale(1) rotateZ(360deg);
        transform: scale(1) rotateZ(360deg);
    }
}
@keyframes rotate-scale-up {
    0% {
        -webkit-transform: scale(1) rotateZ(0);
        transform: scale(1) rotateZ(0);
    }
    50% {
        -webkit-transform: scale(1.4) rotateZ(180deg);
        transform: scale(1.4) rotateZ(180deg);
    }
    100% {
        -webkit-transform: scale(1) rotateZ(360deg);
        transform: scale(1) rotateZ(360deg);
    }
}
@media screen and (max-width: 1200px) {
    .navbar {
        width: calc(100vw - 120px);
    }
    .main {
        padding: 25px;
        width: calc(100vw - 70px);
        grid-template-columns: 100%;
    }
    .main .left_text {
        margin-top: 125px;
        padding: 0px 20%;
    }
    .main .left_text hr {
        margin: 50px 0px 25px 0px;
    }
    .main .left_text a {
        margin-top: 50px;
    }
    .main .mid_slider {
        margin-top: 25px;
        padding: 0px 20%;
    }
    .main .mid_slider img {
        height: auto;
        object-fit: cover;
    }
    .main .right_text {
        padding: 0px 20%;
        margin-top: 0px;
    }
    .main .right_text span {
        margin-top: 25px;
    }
    .main .right_text .bot_img {
        position: relative;
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .menu-btn{
        display: none;
    }
}
@media screen and (max-width: 600px) {
    .main .left_text {
        margin-top: 100px;
        padding: 0px 15px;
    }
    .main .mid_slider {
        margin-top: 25px;
        padding: 0px 15px;
    }
    .main .right_text {
        padding: 0px 15px;
        margin-top: 0px;
    }
    .navbar {
        padding: 10px 15px;
        width: calc(100vw - 30px);
        border-bottom: 2px solid;
    }
    .main {
        padding: 0px;
        width: calc(100vw - 0px);
    }
    .main .right_text .bot_img {
        margin-bottom: 15px;
    }
    .title_1 {
        font-size: 36px;
    }
    .main .left_text hr {
        margin: 30px 0px 15px 0px;
    }
}